.side_bar
  .side_bar__header
    .side_bar__header__box
      .side_bar__header__box__user-name
        = current_user.name
      .side_bar__header__box__icon
        .side_bar__header__box__icon__pencil
          = link_to new_group_path do
            = icon('far','edit', class: 'icon')
        .side_bar__header__box__icon__cog
          = link_to edit_user_path(current_user) do
            = icon('fas','cog', class: 'icon')

  .side_bar__contents
    - current_user.groups.each do |group|
      .side_bar__contents__group
        = link_to group_messages_path(group) do
          .side_bar__contents__group__name
            = group.name
          .side_bar__contents__group__message
            = group.show_last_message